[Unit]
Description=Fisheye Cam
After=roscore.service deep_space.service

[Service]
Type=simple
User=nvidia
ExecStart=/usr/local/bin/fisheye.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
