[Unit]
Description=gstreamer
After=roscore.service deep_space.service

[Service]
Type=simple
ExecStart=/usr/local/bin/gstreamer.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
