[Unit]
Description=roscore
After=network-online.target

[Service]
Type=simple
User=nvidia
ExecStart=/usr/local/bin/roscore.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
