<launch>
	<arg name="map_file" default="$(find deep_space)/maps/hatch.yaml" />
	<arg name="debug_window" default="0" />
	<arg name="lidar_model" default="rplidar" />
	<include file="$(find ydlidar)/launch/lidar.launch" if="$(eval lidar_model == 'ydlidar')"/>
	<include file="$(find rplidar_ros)/launch/rplidar.launch" if="$(eval lidar_model == 'rplidar')"/>
	<node pkg="deep_space" type="lidar_processor" name="lidar_processor" output="screen">
		<param name="lidar_model" value="$(arg lidar_model)" />
	</node>
	<node name="line_extractor" pkg="laser_line_extraction" type="line_extraction_node">
		<param name="~frequency" value="30.0" />
		<param name="~frame_id" value="laser" />
		<param name="~scan_topic" value="filter_scan" />
		<param name="~publish_markers" value="true" />
		<param name="~bearing_std_dev" value="1e-3" />
		<param name="~range_std_dev" value="0.012" />
		<param name="~least_sq_angle_thresh" value="0.001" />
		<param name="~least_sq_radius_thresh" value="0.001" />
		<param name="~max_line_gap" value="0.5" />
		<param name="~min_line_length" value="0.2" />
		<param name="~min_range" value="0.5" />
		<param name="~min_split_dist" value="0.01" />
		<param name="~outlier_dist" value="0.06" />
		<param name="~min_line_points" value="10" />
	</node>
	<node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"></node>
	<node pkg="deep_space" type="vision_processor" name="vision_processor" output="screen">
		<param name="debug_window" value="$(arg debug_window)" />
	</node>
	<node pkg="deep_space" type="hatch_tf_broadcaster" name="hatch_tf_broadcaster" output="screen"></node>
	<node pkg="deep_space" type="map_tf_broadcaster" name="map_tf_broadcaster" output="screen"></node>
</launch>
