<launch>
	<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
		<param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
	</node>
	<node pkg="deep_space" type="lidar_processor" name="lidar_processor" output="screen"></node>
	<node name="line_extractor" pkg="laser_line_extraction" type="line_extraction_node">
		<param name="~frequency" value="30.0" />
		<param name="~frame_id" value="laser" />
		<param name="~scan_topic" value="filter_scan" />
		<param name="~publish_markers" value="true" />
		<param name="~bearing_std_dev" value="1e-3" />
		<param name="~range_std_dev" value="0.012" />
		<param name="~least_sq_angle_thresh" value="0.001" />
		<param name="~least_sq_radius_thresh" value="0.001" />
		<param name="~max_line_gap" value="0.5" />
		<param name="~min_line_length" value="0.2" />
		<param name="~min_range" value="0.5" />
		<param name="~min_split_dist" value="0.01" />
		<param name="~outlier_dist" value="0.06" />
		<param name="~min_line_points" value="10" />
	</node>
	<node pkg="deep_space" type="vision_processor" name="vision_processor" output="screen"></node>
</launch>
